[Desktop Entry]
Version=1.0
Type=Application
Name=guideos-pdf/a
Name[de]=GuideOS-PDF/A
Comment=PDF durchsuchbar machen
Exec=guideos-pdf-a-app
Icon=guideos-pdf-a-app
Terminal=false
StartupNotify=true
Categories=Utility;Office;GuideOS;
StartupWMClass=pdf-a-app
Name[de_DE]=guideos-pdf-a.desktop

