[Desktop Entry]
Version=1.0
Type=Application
Name=guideos-pdf/a-ocr
Name[de]=GuideOS-PDF/A-OCR
Comment=PDF durchsuchbar machen
Exec=guideos-pdf_ocr_app
Icon=guideos-pdf-ocr_app
Terminal=false
StartupNotify=true
Categories=Utility;Office;GuideOS;
StartupWMClass=pdf_ocr_app

