Source: guideos-pdf-a-konverter
Section: utils
Priority: optional
Maintainer: Nightworker <nightworker@guideos.de>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.0

Package: guideos-pdf-a-konverter
Architecture: all
Depends: python3, 
         python3-gi, 
         python3-gi-cairo, 
         gir1.2-gtk-4.0, 
         gir1.2-adw-1, 
         ocrmypdf, 
         tesseract-ocr, 
         tesseract-ocr-deu
Description: PDF durchsuchbar machen

